# Default owners for everything in the repo
* @khichou

# Language implementation
/language/ @khichou

# Build rules and tools
/tools/ @khichou
*.bzl @khichou
MODULE.bazel @khichou
BUILD.bazel @khichou

# CI/CD
/.github/ @khichou

# Documentation
*.md @khichou
